AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteRule ^tests/ - [R=404,L]
  RewriteRule ^uf/log/ - [R=404,L]
  RewriteRule ^docker/ - [R=404,L]
  RewriteRule ^database/ - [R=404,L]
  RewriteRule ^(codeception.yml|composer.json|composer.lock|docker-compose.yml|docker-compose.test.yml|LICENSE|README.md|sf|codecept|test|.env|.gitignore)$ - [R=404,L]

  RewriteCond %{HTTP_HOST} ^api\.(.*) [NC]
  RewriteRule .*    api.php [L]

  RewriteRule ^sitemap.xml    sitemap.php [L]
  RewriteRule ^robots.txt     robots.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^admin /Admin/index.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . index.php
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|gif|jpg|jpeg|png|ico|swf|svg|svgz|woff|woff2|ttf|eot)$">
    Header set Cache-Control "max-age=31536000"
  </FilesMatch>
  Header set Access-Control-Allow-Origin "*"
</IfModule>