/*----------GRAY-----------*/
$grayBlack: var(--gray-black);
$grayDarker: var(--gray-darker);
$grayDark: var(--gray-dark);
$grayMedium: var(--gray-medium);
$grayLight: var(--gray-light);
$grayLighter: var(--gray-lighter);
$grayWhite: var(--gray-white);

/*----------COLOR1-----------*/
$color1Darker: var(--color1-darker);
$color1Dark: var(--color1-dark);
$color1Main: var(--color1-main);
$color1Light: var(--color1-light);
$color1Lighter: var(--color1-lighter);

/*----------COLOR2-----------*/
$color2Darker: var(--color2-darker);
$color2Dark: var(--color2-dark);
$color2Main: var(--color2-main);
$color2Light: var(--color2-light);
$color2Lighter: var(--color2-lighter);

/*----------GRADIENT-----------*/
$gradient1Dark: var(--gradient1-dark);
$gradient1Main: var(--gradient1-main);
$gradient1Light: var(--gradient1-light);

/*----------BACKGROUND-----------*/
$bgLight: var(--bg-light);
$bgDark: var(--bg-dark);
$bgGradient: var(--bg-gradient);

/*----------ERROR-----------*/
$errorDark: var(--error-dark);
$errorMedium: var(--error-medium);
$errorLight: var(--error-light);

/*----------ALERT-----------*/
$alertDark: var(--alert-dark);
$alertMedium: var(--alert-medium);
$alertLight: var(--alert-light);

/*----------SUCCESS-----------*/
$successDark: var(--success-dark);
$successMedium: var(--success-medium);
$successLight: var(--success-light);

/*----------DISABLE-----------*/
$disableDark: var(--disable-dark);
$disableMedium: var(--disable-medium);
$disableLight: var(--disable-light);

/*----------TRANSPARENT-----------*/
$transparent: var(--transparent);

/*----------SOCIALS-----------*/
$socialsIn: var(--socials-in);
$socialsWt: var(--socials-wt);
$socialsTg: var(--socials-tg);
$socialsVk: var(--socials-vk);
$socialsYa: var(--socials-ya);

/*----------UNIQUE-----------*/
$uniqDark: var(--uniq-dark);
$uniqGreen: var(--uniq-green);
$uniqBlue: var(--uniq-blue);
$uniqViolet: var(--uniq-violet);
$uniqPurple: var(--uniq-purple);
$uniqPink: var(--uniq-pink);
$uniqRed: var(--uniq-red);
$uniqOrange: var(--uniq-orange);
$uniqGold: var(--uniq-gold);
$uniqLight: var(--uniq-light);