:root {
    /*----------GRAY-----------*/
    --gray-black: #0D0D0D;
    --gray-darker: #262626;
    --gray-dark: #4D4D4D;
    --gray-medium: #919599;
    --gray-light: #DADFE5;
    --gray-lighter: #EDF3FA;
    --gray-white: #FFFFFF;

    /*----------COLOR1-----------*/
    --color1-darker: #104FA6;
    --color1-dark: #1461CC;
    --color1-main: #1975F7;
    --color1-light: #63A1F7;
    --color1-lighter: #D2E2F7;

    /*----------COLOR2-----------*/
    --color2-darker: #38388C;
    --color2-dark: #4D4DBF;
    --color2-main: #6161F2;
    --color2-light: #9191F2;
    --color2-lighter: #E5E5FF;

    /*----------GRADIENT-----------*/
    --gradient1-dark: linear-gradient(90deg, #008FD9 0%, #003073 100%);
    --gradient1-main: linear-gradient(90deg, #0DAEFF 0%, #004099 100%);
    --gradient1-light: linear-gradient(90deg, #4DC3FF 0%, #3388FF 100%);

    /*----------BACKGROUND-----------*/
    --bg-light: #FFFFFF;
    --bg-dark: #262626;
    --bg-gradient: linear-gradient(90deg, #D9F2FF 0%, #B6D4F2 100%);

    /*----------ERROR-----------*/
    --error-dark: #CC2929;
    --error-medium: #FFA6A6;
    --error-light: #FF9999;

    /*----------ALERT-----------*/
    --alert-dark: #BFBF00;
    --alert-medium: #D9D998;
    --alert-light: #E5E573;

    /*----------SUCCESS-----------*/
    --success-dark: #1F991F;
    --success-medium: #98D998;
    --success-light: #8AE58A;

    /*----------DISABLE-----------*/
    --disable-dark: #343434;
    --disable-medium: #919599;
    --disable-light: #DFE4EB;

    /*----------TRANSPARENT-----------*/
    --transparent: transparent;

    /*----------SOCIALS-----------*/
    --socials-in: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
    --socials-wt: #48C95F;
    --socials-tg: #27A6E5;
    --socials-vk: #0077FF;
    --socials-ya: #FC3F1D;

    /*----------UNIQUE-----------*/
    --uniq-dark: #332E31;
    --uniq-green: #1F6739;
    --uniq-blue: #515ECC;
    --uniq-violet: #7D31DE;
    --uniq-purple: #C279A3;
    --uniq-pink: #F9AFCA;
    --uniq-red: #E34530;
    --uniq-orange: #E57A45;
    --uniq-gold: #D9BA21;
    --uniq-light: #D9D9D7;
}