.radio {
    width: fit-content;
    touch-action: manipulation;

    &-position {
        &_left {
            .radio__label {
                flex-direction: row;
            }
        }

        &_right {
            .radio__label {
                flex-direction: row-reverse;
            }
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .radio__label .radio__indicator {
            animation: select 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:checked + .radio__label .radio__indicator {
            border-color: var(--color1-main);
            background-color: var(--color1-main);
        }

        &:checked + .radio__label .radio__indicator::after {
            transform: translate(-50%, -50%) scale(1);
        }

        &:disabled + .radio__label {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        @include transition((background));
    }

    &__indicator {
        flex-shrink: 0;
        position: relative;
        border: solid var(--gray-medium);
        border-radius: 50%;
        @include transition((background, border));

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background-color: white;
            border-radius: 50%;
            @include transition((transform));
        }
    }

    &__text {
        @include t2;
    }

    /*----------SIZES-----------*/
    &-size-radio_l {
        .radio__label {
            @include spacing(gap, 12px);
        }

        .radio__indicator {
            @include icon(40px);
            @include border-w(6px);

            &::after {
                @include icon(28px);
            }
        }
    }

    &-size-radio_m {
        .radio__label {
            @include spacing(gap, 8px);
        }

        .radio__indicator {
            @include icon(32px);
            @include border-w(4px);

            &::after {
                @include icon(22px);
            }
        }
    }

    &-size-radio_s {
        .radio__label {
            @include spacing(gap, 8px);
        }

        .radio__indicator {
            @include icon(24px);
            @include border-w(4px);

            &::after {
                @include icon(16px);
            }
        }
    }

    &-size_m {
        @include spacing(padding-top, 4px);
        @include spacing(padding-bottm, 4px);
    }

    /*----------THEME-----------*/
    &-theme_light {
        .radio__input {
            &:not(:disabled, :checked) + .radio__label:hover .radio__indicator {
                border-color: var(--color1-light);
            }
        }

        .radio__text {
            color: var(--gray-dark);
        }


    }

    &-theme_dark {
        .radio__input {
            &:not(:disabled, :checked) + .radio__label:hover .radio__indicator {
                border-color: var(--color1-darker);
            }
        }

        .radio__text {
            color: var(--gray-lighter);
        }
    }
}

/* Selection animation */
@keyframes select {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}