.text-input {
    /*----------CORE STYLE-----------*/
    &__wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__inner-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__input-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__icon {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        @include icon(24px);
    }

    &__reset {
        position: absolute;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        z-index: 2;
        @include transition((color, opacity));

        &-icon {
            color: var(--gray-light);
            @include icon(24px);
        }
    }

    &__label {
        color: var(--gray-medium);
        margin-bottom: vw(2px);
        flex-shrink: 0;
        @include t4;

        @include HD {
            margin-bottom: vwh(2px);
        }
        @include Tablet {
            margin-bottom: vwt(2px);
        }
        @include Mobile {
            margin-bottom: vwm(2px);
        }
    }

    &__field {
        width: 100%;
        border: solid transparent;
        @include border-w(2px);
        @include transition((background, border, color, filter, opacity));

        &:focus {
            outline: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .8;
            filter: grayscale(1);
        }
    }

    &__error-message {
        color: var(--error-dark);
        margin-top: vw(2px);
        @include t4;

        @include HD {
            margin-top: vwh(2px);
        }
        @include Tablet {
            margin-top: vwt(2px);
        }
        @include Mobile {
            margin-top: vwm(2px);
        }
    }

    /*----------LABEL POSITION-----------*/
    &-pos_standard {
        &.text-input__label {
            display: block;
            margin-bottom: vw(2px);
            color: var(--gray-medium);
            order: -1;
            @include t4;

            @include HD {
                margin-bottom: vwh(2px);
            }
            @include Tablet {
                margin-bottom: vwt(2px);
            }
            @include Mobile {
                margin-bottom: vwm(2px);
            }
        }

        &.text-input__wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    &-pos_hidden {
        &.text-input__label {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
    }

    /*----------STYLES-----------*/
    &-style_filled {
        .text-input__field {
            background: var(--gray-lighter);
            color: var(--gray-darker);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border-color: var(--gray-light);
                }
            }

            &:focus {
                background: var(--gray-white);
                border-color: var(--gray-light);
            }

            &::placeholder {
                color: var(--gray-medium);
            }
        }

        .text-input__icon {
            color: var(--gray-light);
        }

        .text-input__reset {
            &-icon {
                color: var(--gray-light);
            }
        }
    }

    &-style_outline {
        .text-input__field {
            background: var(--gray-white);
            border-color: var(--gray-light);
            color: var(--gray-darker);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border-color: var(--color1-light);
                }
            }

            &:focus {
                border-color: var(--color1-main);
            }

            &::placeholder {
                color: var(--gray-medium);
            }
        }

        .text-input__icon {
            color: var(--gray-light);
        }

        .text-input__reset {
            &-icon {
                color: var(--gray-light);
            }
        }
    }

    &-style_underline {
        .text-input__field {
            background: transparent;
            border-bottom-color: var(--gray-light);
            color: var(--gray-darker);
            border-radius: 0 !important;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border-bottom-color: var(--color1-light);
                }
            }

            &:focus {
                border-bottom-color: var(--color1-main);
            }

            &::placeholder {
                color: var(--gray-medium);
            }
        }

        .text-input__icon {
            color: var(--gray-light);
        }

        .text-input__reset {
            &-icon {
                color: var(--gray-light);
            }
        }
    }

    /*----------SIZES-----------*/
    &-size_l {
        .text-input__icon {
            left: vw(16px);

            @include HD {
                left: vwh(16px);
            }
            @include Tablet {
                left: vwt(16px);
            }
            @include Mobile {
                left: vwm(16px);
            }
        }

        .text-input__reset {
            right: vw(16px);

            @include HD {
                right: vwh(16px);
            }
            @include Tablet {
                right: vwt(16px);
            }
            @include Mobile {
                right: vwm(16px);
            }
        }

        .text-input__input-container {
            &:has(.text-input__icon) .text-input__field {
                padding-left: vw(48px);

                @include HD {
                    padding-left: vwh(48px);
                }
                @include Tablet {
                    padding-left: vwt(48px);
                }
                @include Mobile {
                    padding-left: vwm(48px);
                }
            }

            &:has(.text-input__reset) .text-input__field {
                padding-right: vw(48px);

                @include HD {
                    padding-right: vwh(48px);
                }
                @include Tablet {
                    padding-right: vwt(48px);
                }
                @include Mobile {
                    padding-right: vwm(48px);
                }
            }
        }

        .text-input__field {
            height: vw(56px);
            padding: 0 vw(16px);
            @include t2;
            @include border-r(12px);

            @include HD {
                height: vwh(56px);
                padding: 0 vwh(16px);
            }
            @include Tablet {
                height: vwt(56px);
                padding: 0 vwt(16px);
            }
            @include Mobile {
                height: vwm(56px);
                padding: 0 vwm(16px);
            }
        }
    }

    &-size_m {
        .text-input__icon {
            left: vw(12px);

            @include HD {
                left: vwh(12px);
            }
            @include Tablet {
                left: vwt(12px);
            }
            @include Mobile {
                left: vwm(12px);
            }
        }

        .text-input__reset {
            right: vw(12px);

            @include HD {
                right: vwh(12px);
            }
            @include Tablet {
                right: vwt(12px);
            }
            @include Mobile {
                right: vwm(12px);
            }
        }

        .text-input__input-container {
            &:has(.text-input__icon) .text-input__field {
                padding-left: vw(44px);

                @include HD {
                    padding-left: vwh(44px);
                }
                @include Tablet {
                    padding-left: vwt(44px);
                }
                @include Mobile {
                    padding-left: vwm(44px);
                }
            }

            &:has(.text-input__reset) .text-input__field {
                padding-right: vw(44px);

                @include HD {
                    padding-right: vwh(44px);
                }
                @include Tablet {
                    padding-right: vwt(44px);
                }
                @include Mobile {
                    padding-right: vwm(44px);
                }
            }
        }

        .text-input__field {
            height: vw(48px);
            padding: 0 vw(16px);
            @include t2;
            @include border-r(12px);

            @include HD {
                height: vwh(48px);
                padding: 0 vwh(16px);
            }
            @include Tablet {
                height: vwt(48px);
                padding: 0 vwt(16px);
            }
            @include Mobile {
                height: vwm(48px);
                padding: 0 vwm(16px);
            }
        }
    }

    &-size_s {
        .text-input__icon {
            left: vw(10px);

            @include HD {
                left: vwh(10px);
            }
            @include Tablet {
                left: vwt(10px);
            }
            @include Mobile {
                left: vwm(10px);
            }
        }

        .text-input__reset {
            right: vw(10px);

            @include HD {
                right: vwh(10px);
            }
            @include Tablet {
                right: vwt(10px);
            }
            @include Mobile {
                right: vwm(10px);
            }
        }

        .text-input__input-container {
            &:has(.text-input__icon) .text-input__field {
                padding-left: vw(40px);

                @include HD {
                    padding-left: vwh(40px);
                }
                @include Tablet {
                    padding-left: vwt(40px);
                }
                @include Mobile {
                    padding-left: vwm(40px);
                }
            }

            &:has(.text-input__reset) .text-input__field {
                padding-right: vw(40px);

                @include HD {
                    padding-right: vwh(40px);
                }
                @include Tablet {
                    padding-right: vwt(40px);
                }
                @include Mobile {
                    padding-right: vwm(40px);
                }
            }
        }

        .text-input__field {
            height: vw(40px);
            padding: 0 vw(12px);
            @include t2;
            @include border-r(12px);

            @include HD {
                height: vwh(40px);
                padding: 0 vwh(12px);
            }
            @include Tablet {
                height: vwt(40px);
                padding: 0 vwt(12px);
            }
            @include Mobile {
                height: vwm(40px);
                padding: 0 vwm(12px);
            }
        }
    }

    &-size_xs {
        .text-input__icon {
            left: vw(8px);

            @include HD {
                left: vwh(8px);
            }
            @include Tablet {
                left: vwt(8px);
            }
            @include Mobile {
                left: vwm(8px);
            }
        }

        .text-input__reset {
            right: vw(8px);

            @include HD {
                right: vwh(8px);
            }
            @include Tablet {
                right: vwt(8px);
            }
            @include Mobile {
                right: vwm(8px);
            }
        }

        .text-input__input-container {
            &:has(.text-input__icon) .text-input__field {
                padding-left: vw(36px);

                @include HD {
                    padding-left: vwh(36px);
                }
                @include Tablet {
                    padding-left: vwt(36px);
                }
                @include Mobile {
                    padding-left: vwm(36px);
                }
            }

            &:has(.text-input__reset) .text-input__field {
                padding-right: vw(36px);

                @include HD {
                    padding-right: vwh(36px);
                }
                @include Tablet {
                    padding-right: vwt(36px);
                }
                @include Mobile {
                    padding-right: vwm(36px);
                }
            }
        }

        .text-input__field {
            height: vw(32px);
            padding: 0 vw(12px);
            @include t3;
            @include border-r(8px);

            @include HD {
                height: vwh(32px);
                padding: 0 vwh(12px);
            }
            @include Tablet {
                height: vwt(32px);
                padding: 0 vwt(12px);
            }
            @include Mobile {
                height: vwm(32px);
                padding: 0 vwm(12px);
            }
        }
    }

    /*----------THEME-----------*/
    &-theme_dark {
        .text-input__label {
            color: var(--gray-light);
        }

        &.text-input-style_filled {
            .text-input__field {
                background: var(--gray-dark);
                border-color: var(--gray-dark);
                color: var(--gray-white);

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        border-color: var(--gray-medium);
                    }
                }

                &:focus {
                    background: var(--gray-black);
                    border-color: var(--gray-medium);
                }

                &::placeholder {
                    color: var(--gray-light);
                }
            }

            .text-input__icon {
                color: var(--gray-light);
            }

            .text-input__reset {
                &-icon {
                    color: var(--gray-light);
                }
            }
        }

        &.text-input-style_outline {
            .text-input__field {
                background: var(--gray-black);
                border-color: var(--gray-dark);
                color: var(--gray-white);

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        border-color: var(--color1-darker);
                    }
                }

                &:focus {
                    border-color: var(--color1-main);
                }

                &::placeholder {
                    color: var(--gray-light);
                }
            }

            .text-input__icon {
                color: var(--gray-medium);
            }

            .text-input__reset {
                &-icon {
                    color: var(--gray-medium);
                }
            }
        }

        &.text-input-style_underline {
            .text-input__field {
                background: transparent;
                border-bottom-color: var(--gray-dark);
                color: var(--gray-white);
                border-radius: 0 !important;

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        border-bottom-color: var(--color1-darker);
                    }
                }

                &:focus {
                    border-bottom-color: var(--color1-main);
                }

                &::placeholder {
                    color: var(--gray-light);
                }
            }

            .text-input__icon {
                color: var(--gray-medium);
            }

            .text-input__reset {
                &-icon {
                    color: var(--gray-medium);
                }
            }
        }
    }
}

/* Show reset button when input has value */
.text-input__field:not(:placeholder-shown) ~ .text-input__reset,
.text-input__field.has-value ~ .text-input__reset {
    pointer-events: auto;
    opacity: 1;
}