.tab {
    /*----------CORE STYLE-----------*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent solid;
    width: fit-content;
    touch-action: manipulation;
    @include transition((border, background, color, opacity));
    @include border-w(2px);

    &__text {
        margin-inline: vw(4px);

        @include HD {
            margin-inline: vwh(4px);
        }
        @include Tablet {
            margin-inline: vwt(4px);
        }
        @include Mobile {
            margin-inline: vwm(4px);
        }
    }

    &__icon-left, &__icon-right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @include transition((fill, stroke));
        @include icon(24px);
    }

    &__badge {
        height: vw(16px);
        padding-inline: vw(4px);
        color: var(--gray-white);
        background: var(--error-dark);
        @include t4;
        @include border-r(12px);

        @include HD {
            height: vwh(16px);
            padding-inline: vwh(4px);
        }
        @include Tablet {
            height: vwt(16px);
            padding-inline: vwt(4px);
        }
        @include Mobile {
            height: vwm(16px);
            padding-inline: vwm(4px);
        }
    }

    /*----------STYLES-----------*/
    &-primary {
        background: var(--gray-lighter);
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--color1-main);
            }
        }

        &:active {
            background: var(--color1-lighter);
            color: var(--color1-dark);
        }

        &.active {
            cursor: default;
            background: var(--color1-lighter);
            color: var(--gray-black);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
            border-color: transparent;
        }
    }

    &-secondary {
        background: transparent;
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--gray-lighter);
                color: var(--color1-main);
            }
        }

        &:active {
            background: var(--color1-lighter);
            color: var(--color1-dark);
        }

        &.active {
            cursor: default;
            background: transparent;
            color: var(--gray-darker);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
            border-color: transparent;
        }
    }

    &-outline {
        background: transparent;
        border-color: var(--color1-light);
        color: var(--gray-dark);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--gray-lighter);
                border-color: var(--color1-light);
                color: var(--gray-dark);
            }
        }

        &:active {
            background: transparent;
            border-color: var(--color1-main);
            color: var(--gray-black);
        }

        &.active {
            cursor: default;
            background: transparent;
            border-color: transparent;
            color: var(--gray-darker);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
            border-color: transparent;
        }
    }

    &-underline {
        padding-inline: 0 !important;
        border-radius: 0 !important;
        background: transparent;
        border-bottom-color: var(--color1-lighter);
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border-bottom-color: var(--color1-light);
            }
        }

        &:active {
            border-bottom-color: var(--color1-main);
        }

        &.active {
            cursor: default;
            background: transparent;
            color: var(--color1-main);
            border-bottom-color: var(--color1-main);
        }

        &:disabled {
            cursor: not-allowed;
            background: transparent;
            color: var(--gray-medium);
            border-bottom-color: var(--gray-medium);
        }
    }

    &-flat {
        padding-inline: 0 !important;
        border-radius: 0 !important;
        background: transparent;
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--color1-main);
            }
        }

        &:active {
            color: var(--color1-darker);
        }

        &.active {
            cursor: default;
            background: transparent;
            color: var(--gray-black);
        }

        &:disabled {
            cursor: not-allowed;
            background: transparent;
            color: var(--gray-medium);
        }
    }

    /*----------SIZES-----------*/
    &-size_l {
        height: vw(56px);
        padding-inline: vw(16px);
        gap: vw(8px);
        @include border-r(12px);

        @include HD {
            height: vwh(56px);
            padding-inline: vwh(16px);
            gap: vwh(8px);
        }
        @include Tablet {
            height: vwt(56px);
            padding-inline: vwt(16px);
            gap: vwt(8px);
        }
        @include Mobile {
            height: vwm(56px);
            padding-inline: vwm(16px);
            gap: vwm(8px);
        }

        .tab__text {
            @include t2-b;
        }
    }

    &-size_m {
        height: vw(48px);
        padding-inline: vw(12px);
        gap: vw(4px);
        @include border-r(12px);

        @include HD {
            height: vwh(48px);
            padding-inline: vwh(12px);
            gap: vwh(4px);
        }
        @include Tablet {
            height: vwt(48px);
            padding-inline: vwt(12px);
            gap: vwt(4px);
        }
        @include Mobile {
            height: vwm(48px);
            padding-inline: vwm(12px);
            gap: vwm(4px);
        }
        .tab__text {
            @include t2-b;
        }
    }

    &-size_s {
        height: vw(40px);
        padding-inline: vw(8px);
        gap: vw(4px);
        @include border-r(12px);

        @include HD {
            height: vwh(40px);
            padding-inline: vwh(8px);
            gap: vwh(4px);
        }
        @include Tablet {
            height: vwt(40px);
            padding-inline: vwt(8px);
            gap: vwt(4px);
        }
        @include Mobile {
            height: vwm(40px);
            padding-inline: vwm(8px);
            gap: vwm(4px);
        }

        .tab__text {
            @include t3-b;
        }
    }

    &-size_xs {
        height: vw(36px);
        padding-inline: vw(4px);
        gap: 0;
        @include border-r(8px);

        @include HD {
            height: vwh(36px);
            padding-inline: vwh(4px);
        }
        @include Tablet {
            height: vwt(36px);
            padding-inline: vwt(4px);
        }
        @include Mobile {
            height: vwm(36px);
            padding-inline: vwm(4px);
        }

        .tab__text {
            @include t3-b;
        }

        .tab__icon-left, .tab__icon-right {
            margin-inline: vw(4px);
            @include icon(16px);

            @include HD {
                margin-inline: vwh(4px);
            }
            @include Tablet {
                margin-inline: vwt(4px);
            }
            @include Mobile {
                margin-inline: vwm(4px);
            }
        }
    }

    /*----------THEME-----------*/
    &-theme_dark {
        &.tab-primary {
            background: var(--gray-dark);
            color: var(--gray-lighter);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--color1-light);
                }
            }

            &:active {
                background: var(--gray-darker);
                color: var(--color1-main);
                border-color: var(--gray-dark);
            }

            &.active {
                cursor: default;
                background: var(--gray-darker);
                border-color: var(--gray-dark);
                color: var(--gray-lighter);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-white);
                border-color: transparent;
            }
        }

        &.tab-secondary {
            background: transparent;
            color: var(--gray-lighter);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--gray-dark);
                    color: var(--color1-light);
                }
            }

            &:active {
                background: var(--gray-darker);
                border-color: var(--gray-dark);
                color: var(--color1-main);
            }

            &.active {
                cursor: default;
                background: var(--gray-dark);
                color: var(--gray-lighter);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-white);
                border-color: transparent;
            }
        }

        &.tab-outline {
            background: transparent;
            border-color: var(--gray-dark);
            color: var(--gray-lighter);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border-color: var(--gray-medium);
                }
            }

            &:active {
                background: var(--gray-dark);
                border-color: var(--gray-medium);
            }

            &.active {
                cursor: default;
                background: transparent;
                border-color: var(--color1-main);
                color: var(--gray-lighter);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-white);
                border-color: transparent;
            }
        }

        &.tab-underline {
            padding-inline: 0 !important;
            border-radius: 0 !important;
            background: transparent;
            color: var(--gray-lighter);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border-bottom-color: var(--gray-medium);
                }
            }

            &:active {
                border-bottom-color: var(--gray-dark);
            }

            &.active {
                cursor: default;
                background: transparent;
                color: var(--gray-white);
                border-bottom-color: var(--color1-main);
            }

            &:disabled {
                cursor: not-allowed;
                background: transparent;
                color: var(--gray-medium);
                border-bottom-color: var(--gray-medium);
            }
        }

        &.tab-flat {
            padding-inline: 0 !important;
            border-radius: 0 !important;
            background: transparent;
            color: var(--gray-light);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--color1-light);
                }
            }

            &:active {
                color: var(--color1-main);
            }

            &.active {
                cursor: default;
                background: transparent;
                color: var(--gray-white);
            }

            &:disabled {
                cursor: not-allowed;
                background: transparent;
                color: var(--gray-medium);
            }
        }
    }
}